body {
  background-color: rgb(201, 32, 32);
}

:root {
  --fire-color: #ff6a00;
  --water-color: #007bff;
  --grass-color: rgba(36, 150, 44, 0.733);
}

.fire {
  color: var(--fire-color);
  background-color: #000000;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.water {
  color: var(--water-color);
  background-color: #000000;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.grass {
  color: var(--grass-color);
  background-color: #000000;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.eletrico {
  color: #ffdd00;
  background-color: #000000;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.poison {
  color: #ff00bb;
  background-color: #000000;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 800px;
  margin: auto;
}
.card {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 252, 252);
}

.tipos {
  display: flex;
  gap: 5px;
}

.botaoTipo {
  color: black;
  background-color: #ccc;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
}

h1 {
  color: white;
  text-align: center;
}
